@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input_area {
  resize: none;
}

.layout {
  background-image: #dfe4ea;
  border: 1px #006266 solid;
}

.input {
  /*   border: none;
  outline: none;
  border-radius: 15px;

  padding: 1em;
  background-color: #cccccc00;
  box-shadow: inset 2px 5px 10px rgba(185, 180, 180, 0.729);
  transition: 300ms ease-in-out; */
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #cfcece, -13px -13px 100px #ffffff;
}

.btn {
  --color: #f5f8f7;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: rgb(10, 9, 9);
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.menu_container {
  width: 25%;
  height: 100vh;
  background-color: #006266;
  font-size: 14px;
  color: white;
  padding: 10px;
  position: relative;
}

.menu_hamburguesa {
  display: none;
}

.menu {
  background-color: #006266;
  color: white;
}

@media (width < 600px) {
  .menu_container {
    width: 10%;
    position: relative;
    background-color: transparent;
  }

  .menu_hamburguesa {
    display: block;
    position: absolute;
    top: 10;
    left: 5;
    z-index: 1000;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
  }
  .menu {
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-220px);
    transition: 0.3s;
    padding: 40px;
  }

  .open_menu {
    transform: translateX(0px);
  }
}
